data/
saved_models/
__pycache__/
runs/
cache_dir/
LLM/
logs/
results/
wandb/
openrouter_api_key.txt
generated_data/profiles*
generated_data/bios
generated_data/qa*

*.egg-info/
final_model*
.vscode/
.pytest_cache/
*.csv
